<div class="wholeDiv">
    <h1>Set up reminders</h1>
    <br><br>
    <p>If you set reminders in Slack, you'll be reminded to complete certain tasks. 
        Use the Actions menu to set reminders for yourself or for a channel, or use the More Actions 
        menu to set reminders for specific messages you want to revisit later.</p>

    <div class="tipp">
        Tip: <br>
        You can create reminders in your preferred language, but we recommend using the English (US) date and time format. 
        When setting reminders in a channel, consider the time zones of everyone you want notified.
    </div>

    <p>
        1. Type /remind in the message field and select it from the action menu. <br>
        2. In the message field, enter the details for your reminder in this format: /remind [yourself or #channel] [what] [when]. <br>
        3. Send your message to schedule the reminder.</p>

    <div class="tipp">
        Tip: <br>
        You can create reminders for yourself or a channel, but not for anyone else. 
        Reminders can also be set up to repeat by the day (e.g. every Monday) but not in time increments (e.g. every hour).
    </div>
</div>