<div class="wholeDiv">
    <h1>Configure notifications</h1>
    <br><br>
    <p>Stay up to date on work with notifications in Slack,
        that is important to you, whether you are sitting at your desk or on the go.
        You can view your notifications on the desktop,
        Customize on mobile devices and via email,
        by following the steps below.</p>

    <div class="tipp">
        <p> Tip: <br>In EchoSphere you can quickly start a new direct message at any time by clicking the
            Click or tap the 'Messages' button.</p>
    </div>
    <h2>Customize notification triggers</h2>
    <p>By default, Slack only accepts direct messages (DMs),
        Mentions and specific keywords used for notifications.
        However, you have the option to adjust your personal settings,
        to either receive all new messages in conversations,
        in which you are involved, to be notified or not to be notified at all
        Receive notifications.</p>
</div>