<div class="wholeDiv">
    <h1>Set your EchoSphere status and availability</h1>
    <br><br>
    <p>When working with EchoSphere, it's often helpful to let your team know how responsive you are to messages
        can react and when you are available. EchoSphere offers several ways to report your status
        share and show other team members your availability</p>
    <br>

    <p>Your status tells others what you are doing in a statement. Your availability refers to the
        Dot next to your display name, indicating if you are currently active in EchoSphere.</p>

    <div class="tipp">

        Tip: <br>
        If you're a workspace owner or admin, learn how to customize status suggestions from
        that members can choose from.
    </div>

    <h2>Update your EchoSphere status</h2>
    <p>When you set a status in EchoSphere, your status emoji will appear next to your name. Other
        Members can see your status emoji anywhere they see your full name or display name
        can see. They can see your full status either in your profile or by going to the
        Desktop version, hover your cursor over your status emoji. If you don't select a status emoji,
        a 💬 speech bubble appears by default.</p>
</div>