<div class="wholeDiv">
    <h1>Understanding Direct Messages</h1>
    <br><br>
    <div >
        <h2>Who can use this feature?</h2>
        <li>All members and guests</li>
        <li>Available for all plans</li>
    </div>
    <br>
    <h2>What you should know</h2>
    <li>Direct messages can occur between two individuals or with up to nine people.</li>
    <li>Starting and sending direct messages works the same as composing any other message in EchoSphere.
        Learn more about how you can send and read messages.</li>
    <li>If your company uses EchoSphere Connect, you have the ability to send direct messages to individuals in
        other companies.</li>

    <div class="tip">
        <p> Tip: <br>In EchoSphere, you can quickly start a new direct message at any time by clicking or tapping on
            the 'Messages' button.</p>
    </div>
</div>






