<div class="signin-main">
    <div class="logo">
        <img src="{{ appComponent.logoName }}" alt="{{ appComponent.title }} Logo">
    </div>

    <div class="signin-container signup-container">
        <mat-card [class.in-bg]="signUpSucc">
            <h1>Sign up</h1>
            <!-- <span>Stay connected with your friends and colleagues</span> -->
            <div class="signin-form">
                
                <div class="input-container">
                    <div class="input" [class.errorBorder]="errorUsername">
                        <input type="text" #usernameSignUp required [disabled]="loading"
                            [(ngModel)]="firestoreUser.user.username"
                            (keydown)="signUpKey($event)" maxlength="30">
                        <span>Username</span>
                    </div>
                    <span class="errorTxt">{{ errorNameTxt }}</span>
                    
                    <div class="input" [class.errorBorder]="errorEmail">
                        <input type="string" #emailSignUp required [disabled]="loading"
                        (keydown)="signUpKey($event)" [(ngModel)]="firestoreUser.user.email"
                             maxlength="256">
                        <span>Email</span>
                    </div>
                    <span class="errorTxt">{{ errorEmailTxt }}</span>

                    <div class="input input-pwd" [class.errorBorder]="errorPwd">
                        <input type="password" #passwordSignUp required maxlength="30" [disabled]="loading"
                            (keydown)="signUpKey($event)" (select)="onSelect($event)">
                        <span>Password</span>
                        <img class="noselect" [class.show-pwd]="!loading"
                            (click)="!loading ? toggleShowPwd(false) : false" [src]="pwdImg">
                    </div>
                    <span class="errorTxt">{{ errorPwdTxt }}</span>

                    <div class="input input-pwd" [class.errorBorder]="errorPwdRepeat">
                        <input type="password" #passwordRepeat required maxlength="30" [disabled]="loading"
                            (keydown)="signUpKey($event)" (select)="onSelect($event)">
                        <span>repeat Password</span>
                        <img class="noselect" [class.show-pwd]="!loading"
                        (click)="!loading ? toggleShowPwd(true) : false" [src]="pwdRepeatImg">
                    </div>
                    <span class="errorTxt">{{ errorPwdRepeatTxt }}</span>
                </div>

                <button id="signUpBtn" [disabled]="loading"
                    (click)="signUp(emailSignUp.value.toLowerCase(), passwordSignUp.value, passwordRepeat.value, usernameSignUp.value)">
                    Sign up
                </button>
            </div>

        </mat-card>

        <div class="overlay-msg noselect" [class.d-none]="!signUpSucc">
            Account created successfully
        </div>
    
        <span class="sign-up">
            Already a {{ appComponent.title }} account? 
            <a href="sign-in">Sign in</a>
        </span>
    </div>
</div>