<!-- TODO simple placeholder text, will be replaced by a real welcome message, maybe with personal greeting and english version -->
<section>
    <h1>Welcome to EchoSphere!</h1>

    <p>We are very pleased to welcome you as a new member of our community. EchoSphere is a platform that allows you to seamlessly communicate, share information and collaborate with other users, similar to the Slack chat program.
    </p>

    With EchoSphere you can use the following functions:
    <ul>
        <li>Create chats and participate in group conversations: join different channels to exchange ideas with other users on specific topics and collaborate on projects.</li>
        <li>Send direct messages: Start private conversations with individual users to have 1:1 communication.</li>
        <li>Share and manage information: Upload images and communicate with each other and work on them together.</li>
        <li>Receive notifications and announcements: Stay up to date on new news, mentions, and important announcements so you don't miss a thing.</li>
        <li>Leverage customizations and integrations: Customize your user experience and integrate other tools and services to make your work more efficient.</li>
    </ul>

    We hope you enjoy Slack-Clone and find the benefits of the platform helpful. If you have any questions or need support, please don't hesitate to contact us.
    <p>Have fun using EchoSphere!</p>


    Your EchoSphere Team
</section>
