<div class="setUserBackground">

    <h1>Profile</h1>
    <div class="setUser">
       

    <img class="setImg" (click) = "changeImage()" [src]="photoUrl" alt="">
        <form [formGroup]="profileForm">
            <div class="form-group">
                <label for="name">{{profileForm.get('username')?.value}}</label> <img (click)="changeName()" class="nameIcon" src="./assets/img/icons/Stift.png" alt=""><br>
                <input [class.d-none]="!nameEditable"  input [class.is-invalid] = "profileForm.get('username')?.invalid && profileForm.get('username')?.touched" id="name" type="text" formControlName="username">
            </div> <br>
            <div class="form-group">
                <button (click)="save()" [disabled]="profileForm.invalid">Save</button>
            </div>
        </form> 
    </div>
</div>
