// import sign in style
@import "src/app/sign-in/sign-in.component.scss";

.forgot-pw-txt {
    padding-top: 30px;
    //text-align: center;
}

.errorBox {
    display: unset;
}

.reset-pwd-sent {
    position: absolute;
    padding: 20px 30px;
    
    background-color: #004164;
    box-shadow: $card-box-shadow;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: normal;
}