<div class="signin-container">
    <mat-card [class.in-bg]="resetPwdSent">
        <h1>Reset your Password</h1>
        <span class="forgot-pw-txt">
            Please provide the email address that you used when you signed up 
            for your account.
        </span>
        
        <form class="signin-form">
            
                <div class="input-container" [class.error]="errorEmailTxt">
                    <div class="input">
                        <input type="text" #emailSignIn required>
                        <span class="noselect">Email</span>
                    </div>
                </div>

                <div class="errorBox">
                    <mat-error *ngIf="errorEmailTxt">
                        {{ errorEmailTxt }}
                    </mat-error>
                </div>

                <button class="noselect" (click)="resetPassword(emailSignIn.value)">
                    Reset password
                </button>
          </form>
    </mat-card>

    <span class="sign-up">
        Not forgot your password?
        <a (click)="signIn.forgotPassword = false;" style="text-decoration: underline;">
            Sign in
        </a>
    </span>

    <div class="reset-pwd-sent" [class.d-none]="!resetPwdSent">
        Sent Reset Link to<br>
        <strong>{{ emailSignIn.value }}</strong>
    </div>
</div>