/* Global Variables */

// import globale style
// @import "src/_globals.scss";


/* Colors */
$background: #202124;
$background-second: #282A2D;


$color-text: #fff;
$color-warning: #ff9800;
$color-error: #f44336;
$color-success: #4caf50;
$color-info: #2196f3;
$color-logo-yellow: #FFC000;
$color-logo-blue: #5B9BD5;
$color-logo-green: #70AD47;
$color-logo-grey: #7F7F7F;


$accent-darkgrey:#353535;
$accent-lightgrey:#838383;

/* Spaces */


/* Font-size */
$small: 0.8rem;

